.brackets-viewer h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    color: white;
  }
  
  .brackets-viewer h2{
    color: white;
  }

  /* brackets-viewer class permite cambiar variables globales */